<div>
    {% set varDelay = 0 %}



    {% for consultant in consultantDelays  %}
        {% if consultant.delay == 'delay' %}
            {% set varDelay = 1 %}
        {% endif %}
    {% endfor %}

    {% if varDelay == 0 %}
       
        <div class="col-lg-12 dgp_noDelaysPerson">
            <span>Pas de retard enregistré pour ce consultant</span>
        </div>

        
    {% else %}
        <div id="delays-alertt" class="row">
            <div class="col-lg-12">
            <div class="alert alert-danger">
                <i class="fa fa-warning fa-lg"></i>
                <span>Voici les retards enregistrés pour ce consultant :</span><br>
        {% for consultant in consultantDelays  %}
            {% if consultant.delay == 'delay' %}
                {{ consultant.date_soumission }}<br>
            {% endif %}
        {% endfor %}
               </div>
            </div>
        </div>  
    {% endif %}

    
                  
</div>