<div id="delays-block" class="col-xs-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-calendar"></i>
				
                    {% set anyDelays = 'noDelay' %}
                    
                        {% for consultant in consultantsDelays %}
                            {% if consultant.actualdelay == 'actualdelay' %}
                                {% set anyDelays = 'delay' %}
                            {% endif %}
                        {% endfor %}
                        
			{% if (user.ProfileId in managers ) and user.delays %}
				<select id="selectConsultantsDelays" name="consultants">
                                        <option value ="list" name = "list">Liste des consultants</option>
                                    {% for consultant in consultantsDelays %}
                                        {% if consultant.actualdelay == 'actualdelay' %}
                                            <option style="color:red;" id="option{{ consultant.id_user}}" value = {{ consultant.id_user}}>{{ consultant.nom_consultant}}</option>
                                        {% else %}
                                            <option id="option{{ consultant.id_user}}" value = {{ consultant.id_user}}>{{ consultant.nom_consultant}}</option>
                                        {% endif %}
                                    {% endfor %}
				</select>
                                    
                                
			{% elseif (user.ProfileId == 'cslt' or user.ProfileId == 'str') and user.delays %}
				<input id="currentDelays" type="hidden" data-date="{{ user.delays.getSubmitDate }}" data-month="{{ user.delays.getMonth }}"/>
			{% endif %}
		</div>
    
                
		<div id="delays-body" class="panel-body">
                    
                        {% if anyDelays == 'noDelays' %}
                            <div id="notif-alert" class="row">
                                <div class="col-lg-12">
                                    <div class="alert">
                                        <i class="fa fa-lg"></i>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="delays-alertt" class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        <i class="fa fa-warning fa-lg"></i>
                                        <span>Retards décomptes</span><br><br>

                                            {% for consultant in consultantsDelays %}
                                                {% if consultant.actualdelay == 'actualdelay' %}
                                                    {{ consultant.nom_consultant }}<br>
                                                {% endif %}
                                            {% endfor %}


                                    </div>
                                </div>
                            </div>
                            <div id="delays-alert-html" class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        <i class="fa fa-warning fa-lg"></i>
                                        <span>Retards décomptes</span><br><br>
                                    </div>
                                </div>
                            </div> 
                        {% endif %}
     
                        
		</div>
              
	</div>
</div>
                
<script>

    var selectConsultant = $("#selectConsultantsDelays");

    selectConsultant.change(function() {
        
        if($( "#selectConsultantsDelays option:selected" ).val() != "list")
        {
          var idConsultant = $( "#selectConsultantsDelays option:selected" ).val();
            //console.log(idConsultant);
    
        $.ajax
            ({
                type: "POST",
                url: "{{ path('dashgp_delays_ajax') }}",
                data: "idConsultant="+ idConsultant,
                cache: false,
                success: function(data)
                {
                    $('#delays-alert-html').show();
                    $('#delays-alertt').hide();
                    $('#delays-alert-html').html(data);
                }
            });
        }
        else
        {
            $('#delays-alert-html').hide();
            $('#delays-alertt').show();
        }

    });

</script>