<div id="downloads-block" class="col-xs-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-download"></i>Téléchargements
		</div>
		<div class="panel-body">
			<div class="row">
				{% if (user.startStatus != "too_early") and (user.endStatus == NULL) %}
					<div class="col-xs-12 media">
						<div class="media-left media_margin">
							<i class="fa fa-file-text fa-2x"></i>
						</div>
						<div class="media-body">
							{% if user.Contract != null %}
								<p class="noTextAlign"><a href="{{ path('dashgp_certif', {'type':'employer'}) }}">Attestation de salaire</a></p>
							{% endif %}
							<p><a href="{{ path('dashgp_certif', {'type':'insurance'}) }}">Attestation de mutuelle</a></p>
						</div>
					</div>
				{% endif %}
                                             
				<div class="col-xs-12 media">
					<div class="media-left">
						<i class="fa fa-money fa-2x"></i>
					</div>
					<div class="media-body">
						{% set december = false %}
						{% for data in user.payforms %}
							{% if data.status == true %}
								<p><a href="{{ path('dashgp_document', {'type':'payform', 'idx':loop.index0}) }}">
							{% else %}
								<p><a href="#" class="file not-found" data-toggle="modal" data-target="#error-modal">
							{% endif %}
									Bulletin de paie {{ data.month ~ '/' ~ data.year }}
									{% if data.month == 12 %}
										{% set december = true %}
									{% endif %}
								</a></p>
						{% endfor %}
						<br>
						{% for data2 in user.payformsLastDecember %}
							{% if december != true %}
								<div class="salary_topBorder col-xs-12"></div>
									{% if data2.status == true %}
										<p><a href="{{ path('dashgp_document', {'type':'payform', 'idx':loop.index0}) }}">
									{% else %}
										<p><a href="#" class="file not-found" data-toggle="modal" data-target="#error-modal">
									{% endif %}
										Bulletin de paie {{ data2.month ~ '/' ~ data2.year }}
										</a></p>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-xs-12 media">
					<div class="media-left media_margin">
						<i class="fa fa-file-pdf-o fa-2x"></i>
					</div>
					<div class="media-body">
						<p>
							{% if user.CvUrl == null %}
								<!--<a href="https://showcase.doyoubuzz.com/login" class="cv-dyb not-found" data-toggle="modal" data-target="#error-modal">-->
								<a target="_blank" href="https://showcase.doyoubuzz.com/login">
							{% else %}
								<a href="{{ user.CvUrl }}">
							{% endif %}
								CV DoYouBuzz</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>