<div id="error-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
				<h4 class="modal-title">
					Erreur
				</h4>
			</div>
			<div class="modal-body alert alert-danger">
				<div class="row">
					<div class="col-xs-12 media">
						<div class="media-left">
							<i class="fa fa-times-circle fa-2x"></i>
						</div>
						<div class="media-body">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>