{%
	set fees = {
	'transport':  
		{ 'amount': mission.TransportFee, 'comment': mission.TransportFeeComment } }|merge({
	'restauration':
		{ 'amount': mission.RestorationFee, 'comment': mission.RestorationFeeComment } }) 
%}

<div id="fees-block" class="col-xs-12">
	<div id="fees" class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-eur"></i>
			Mes frais
		</div>
		{% if mission.TransportFee is empty and mission.TransportFeeComment is empty and mission.RestorationFee is empty and mission.RestorationFeeComment is empty  %}
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="alert alert-info">
							<i class="fa fa-info-circle fa-lg"></i>
							Vous n'avez aucun frais en cours.
						</div>
					</div>
				</div>
			</div>
		{% else %}
			{% for type, details in fees %}
				<div class="row">
					<div class="col-lg-12">
						<div class="panel-info">
							<div class="panel-heading">{{ type|capitalize }}</div>
							<div class="panel-body">
								<table>
									<tbody>
										<tr>
											<th>
												Montant
											</th>
											<th>
												Commentaire
											</th>
										</tr>
										<tr>
											{% for field in details %}
												<td>
													{% if field is empty %}
														Non renseigné
													{% else %}
														{{ field }}
														{{ loop.index0 == 0 ? " €"}}
													{% endif %}
												</td>
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>