<div id="dgp-link" class="col-xs-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-link"></i>
			Liens
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-4">
					<a style="text-decoration:none;" target="_parent" href="{{ link_faq }}" class="thumbnail">
						<i class="fa fa-question-circle fa-4x"></i>
						<p style="text-align:center;">FAQ</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-4">
					<a style="text-decoration:none;" target="_parent" href="{{ welcome_book }}" class="thumbnail">
						<i class="fa fa-book fa-4x"></i>
						<p style="text-align:center;">Livret d'accueil</p>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-4">
					<a style="text-decoration:none;" target="_parent" href="{{ insurance_book }}" class="thumbnail">
						<i class="fa fa-heartbeat fa-4x"></i>
						<p style="text-align:center;">Livret de mutuelle</p>
					</a>
				</div>
				{#
				<div class="col-xs-6 col-md-3 col-lg-3">
					<a style="text-decoration:none;" target="_parent" href="#" class="thumbnail">
						<i class="fa fa-video-camera fa-4x"></i>
						<p style="text-align:center;">Tutos vidéos</p>
					</a>
				</div>
				#}
			</div>
		</div>
	</div>
</div>