<div id="mission-block" class="col-xs-12">
	<div id="mission" class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-space-shuttle fa-rotate-270"></i>
			Ma mission
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">Poste</th>
					<td>{{ mission.Title }}</td>
				</tr>
				<tr>
				<th scope="row">Client</th>
					<td>{{ mission.ClientName }}</td>
				</tr>
				<tr>
					<th scope="row">Addresse</th>
					<td>{{ mission.ClientAddress }}</td>
				</tr>
				<tr>
					<th scope="row">Contact</th>
					<td>{{ mission.ClientContact }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>