<div class="col-xs-12 person">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-user"></i>
			{{ heading }}
		</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-left media-middle">
					{% if person.Avatar is not empty %}
						<img style="font-family: Arial,Helvetica,sans-serif;" src="{{ avatar_path ~ person.Avatar }}" alt="{{ person.FirstName }} {{ person.LastName }}" title="{{ person.FirstName }} {{ person.LastName }}" class="cbThumbPict"></img>
					{% else %}
						<img style="font-family: Arial,Helvetica,sans-serif;" src="{{ no_avatar_path }}" alt="{{ person.FirstName }} {{ person.LastName }}" title="{{ person.FirstName }} {{ person.LastName }}" class="cbThumbPict"></img>
					{% endif %}
				</div>
				<div class="media-body">
					<ul>
						<li>
							{{ person.FirstName ~ " " ~ person.LastName }}
						</li>
						{% if person.Gsm is not empty %}
							<li>
								<i class="person_info_margin fa fa-mobile fa-lg person_infos_width"></i>
								<a href="tel:{{ person.Gsm }}">
									{{ person.Gsm }}
								</a>
							</li>
						{% endif %}
						{% if person.Phone is not empty %}
							<li>
								<i class="person_info_margin fa fa-phone"></i>
								<a href="tel:{{ person.Phone }}">
									{{ person.Phone }}
								</a>
							</li>
						{% endif %}
						{% if person.Email is not empty %}
							<li>
								<i class="person_info_margin fa fa-envelope"></i>
								<a href="mailto:{{ person.Email }}">
									{{ person.Email }}
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>