<div id="salary-block" class="col-xs-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-bar-chart"></i>
			Mon salaire
		</div>
		<div id="container" class="table-body">
		</div>
		<div id="bar" class="table-body">
		</div>
	</div>
</div>