<div class="sign_information-block-inside">
    <form class="sign_form" id="infos">
        <p class="sign_information-block-title">INFORMATIONS</p>
            <div class="sign_label_container inlineBlock" >
                <label for="sign_firstName" class="sign_label ">
                Prénom *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_firstName" class="sign_obligatoire sign_input inlineBlock" type="text" name="sign_firstName" value="{{ user.firstName }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_lastName" class="sign_label">
                    Nom *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_lastName" class="sign_obligatoire sign_input" type="text" name="sign_lastName" value="{{ user.lastName }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_title" class="sign_label">
                    Fonction *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_title" class="sign_obligatoire sign_input" type="text" name="sign_title" value="{{ user.jobTitle }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_company" class="sign_label">
                    Société *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_company" class="sign_obligatoire sign_input" type="text" name="sign_company" value="{{ branch.name }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_telephone" class="sign_label">
                    Tel. Fixe
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_telephone" class="sign_input" type="text" name="sign_telephone" value=
                       "{% if branch.extension != '' and user.phonePro != '' %}{{ branch.extension ~ " " ~ user.phonePro|slice(1, 15) }}{% else %}{{ user.phonePro }}{% endif %}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_mobile" class="sign_label">
                    Et/ou Mobile
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_mobile" class="sign_input" type="text" name="sign_mobile" value=
                       "{% if branch.extension != '' and user.phoneMobile != '' %}{{ branch.extension ~ " " ~ user.phoneMobile|slice(1, 15) }}{% else %}{{ user.phoneMobile }}{% endif %}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_address" class="sign_label">
                    Adresse *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_address" class="sign_obligatoire sign_input" type="text" name="sign_address" value="{{ branch.address }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_code" class="sign_label">
                    Code postal *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_code" class="sign_input" type="text" name="sign_code" value="{{ branch.addressPostalcode  }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_city" class="sign_label">
                    Ville *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_city" class="sign_obligatoire sign_input" type="text" name="sign_city" value="{{ branch.addressCity }}">
            </div>
            
            <div class="sign_label_container inlineBlock" >
                <label for="sign_country" class="sign_label">
                    Pays *
                </label>
            </div>
            <div class="inlineBlock sign_input_container">
                <input id="sign_country" class="sign_obligatoire sign_input" type="text" name="sign_country" value="{{ branch.addressCountry }}">
            </div>
            
            <input class="sign_submit sign_input" id="sign_submit" type="button" value="Valider">
    </form>
</div>