
    <p class="sign_html-block-title">HTML</p>
    <div id='sign_clipboard_button'></div>
    <div class="sign_html-block-inside_container">
        <textarea class="sign_html-block-inside" id="sign_html-block-inside"></textarea>
        {#<button id="signCopyButton">Copy to Clipboard</button>#}
        <p class="sign_html-instructions">Vous pouvez copier-coller ce code html dans votre client e-mail ou télécharger le fichier .html</p>

        <form method ="POST" action="{{ path('signature_download_ajax', {'id': user.id} ) }}">
            <input id="sign_hdnFirstName" name="firstName" type="hidden">
            <input id="sign_hdnLastName" name="lastName" type="hidden">
            <input id="sign_hdnTitle" name="title" type="hidden">
            <input id="sign_hdnCompany" name="company" type="hidden">
            <input id="sign_hdnTelephone" name="telephone" type="hidden">
            <input id="sign_hdnMobile" name="mobile" type="hidden">
            <input id="sign_hdnAddress" name="address" type="hidden">
            <input id="sign_hdnCode" name="code" type="hidden">
            <input id="sign_hdnCity" name="city" type="hidden">
            <input id="sign_hdnCountry" name="country" type="hidden">

            <input id="sign_hdnSignToUse" name="signToUse" type="hidden">
            <input id="sign_hdnTelOrMobile" name="telOrMobile" type="hidden">

            <input class="sign_download sign_input" id="sign_download" type="submit" value="Télécharger">
        </form>
    </div>
