{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Dashboard GP{% endblock %}
		</title>

		{% stylesheets
			'bootstrap/css/bootstrap.css'
			'@DashGPDashGPBundle/Resources/public/css/display-error.css'
			'@DashGPDashGPBundle/Resources/public/css/dashgp.css'
            '@DashGPDashGPBundle/Resources/public/css/signature.css'
            '@DashGPDashGPBundle/Resources/public/css/upload-form.css'%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
		{% endstylesheets %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">

        <script src="{{ asset('jquery/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ asset('jquery/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
	</head>
	<body>		
		{% block body %}
		{% endblock %}

		{% block script %}
	        {% javascripts
				'highcharts/highcharts.js'
				'highcharts/data.js'
				'highcharts/exporting.js'
			%}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
	    {% endblock script %}		
	</body>
</html>