<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				OC Plateforme
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div id="header" class="jumbotron">
				<h3>
					Plateforme
				</h3>
				<p>
					Projet propulsé par Symfony
				</p>
				<p>
					<a class="btn btn-primary btn-lg" href="#">
						Participer au MOOC
					</a>
				</p>
			</div>

			<div class="row">
				<div id="menu" class="col-md-3">
					<h4>Les annonces</h4>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="{{ path('oc_platform_home') }}">
								Accueil
							</a>
						</li>
						<li>
							<a href="{{ path('oc_platform_add') }}">
								Ajouter
							</a>
						</li>
					</ul>

					<h5>Dernières annonces</h5>
					{{ render(controller('OCPlatformBundle:Advert:menu', {'limit':3})) }}
				</div>
				<div id="content" class="col-md-9">
					{% block body %}
					{% endblock %}
				</div>
			</div>

			<hr>

			<footer>
				<p>
					Footer {{ 'now'|date('Y') }}
				</p>
			</footer>
		</div>

		{% block javascript %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>