.panel-primary {
	border-color: #CCC;
}

.panel-primary > .panel-heading {
	font-weight: bold;
	background-color: transparent;
	border-color: #34B8AB;
	color: #C43FA4;
}

.alert {
	margin: 0px !important;
}

.panel {
	margin-bottom: 10px;
}

.col-xs-6 {
	padding-right: 5px;
	padding-left: 5px;
}

/* HEADER */

header, .open .dropdown-menu {
	background-color: #C43FA4;
	border-color: #C43FA4;
}

header .btn, .dropdown-menu > li > a {
	color: #FFF;
	background-color: #C43FA4;
	border: none;
}

header .btn:hover,
header .btn:focus,
header .btn-group.open .dropdown-toggle,
header .btn-group.open .dropdown-toggle:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	text-decoration: underline;
	color: #FFF;
	background-color: #B32E93;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	color: #FFF;
}

/* PERSON */

.person ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

/* FEES */

#fees .panel-info {
	margin-bottom: 0px;
}

#fees .panel-info .panel-heading {
	padding: 5px 15px;
	background-color: #DDFFEF;
	color: #34B8AB;
}

#fees .panel-info .panel-body {
	padding: 5px 15px;
}

#fees table {
	width: 100%;
}

#fees table th {
	text-align: center;
}

#fees table td {
	padding: 0px 5px 0px 5px;
	text-align: justify;
}

#fees table td:first-of-type {
	width: 100px;
	text-align: center;
}

table td, table th {
	vertical-align: middle !important;
}

/* DELAYS */

select {
	width: 50%;
	float: right;
	color: #000;
	font-weight: normal;
}



#notif-alert {
	display: none;
}

#delays-alert {
	display: none;
}

/* LINKS */

#dgp-link .panel-body .row > div {
	padding-left: 5px;
	padding-right: 5px;
}

#dgp-link .panel-body a {
	margin: 0px;
}

#dgp-link .panel-body a p {
	margin-top: 10px;
	margin-bottom:0px;
}

#dgp-link .panel-body i {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #34B8AB;
}

/* DOWNLOADS */

#downloads-block .panel-body div {
	text-align: center;
}

#downloads-block .panel-body div i {
	margin-bottom: 10px;
	color: #34B8AB;
}

#downloads-block .panel-body div p {
	margin-bottom: 0px;
}

/* END DOWNLOADS */

.media_margin
{
    width:40px;
}
.noTextAlign
{
    text-align:left;
}

.inlineBlock
{
    display:inline-block;
    vertical-align:top;
}

.rowMarginTop
{
    margin-top:10px;
}

.salary_topBorder
{
    display:block;
    height:1px;
   background-color:rgba(0,0,0,0.3); 
}
.person_info_margin
{
    width:20px;
}
.dgp_noDelaysPerson
{
    border:solid 1px #76d076;
    background-color:#b8ff8d;
    border-radius:5px 5px 5px 5px;
    padding:1em;
}
#delays-alert-html
{
    display:none;
}