.sign_body
{
    width:700px;
    margin-top:0px;
    font-family:Arial,sans-serif;
    //background-color:pink;
}
.sign_instructions
{
    width:100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign_form
{
    margin-bottom:3em;
    width:100%     
}

.sign_label
{
    display:block;
    vertical-align: text-top;
    font-weight:bold;
}
.sign_label_container
{
    width:33%;
    height:1.65em;
}

.sign_input_container
{
    
    width:63%;
}
.sign_input[type="text"] {
    display:block;
    border-radius:7px 7px 7px 7px;
    border:solid 1px grey;
    height:1.65em;
    margin-bottom:0.5em;
    padding-left:0.3em;
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4) inset;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4) inset;
}

#signature {
   visibility:hidden;
}

#html_sign {
   width:40%;
}

#html_sign textarea {
   height:548px;
   width:100%;
   font-size:12px;
}
.sign_submit
{
    cursor:pointer;
    font-family: Arial, sans-serif;
    font-size:19px;
    font-weight:bold;
    background-color:#f10888;
    height:2.2em;
    width:100%;
    border: solid 1px grey;
    border-top:solid 1px #ffaddd;
    border-bottom:solid 1px #7d004a;
    border-radius:10px 10px 10px 10px;
    color:white;
    margin-top:1em;;
    transition: all 150ms ease-in-out;
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
    box-shadow:2px 2px 5px rgba(0,0,0,0.4);
}
.sign_submit:hover
{
    
    border: none;
    background-color:#ce78a6;
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4) inset;
    box-shadow:2px 2px 5px rgba(0,0,0,0.4) inset;
    text-shadow:1px 1px 2px rgba(0,0,0,0.8);
    
}
.sign_information-block
{
    display:inline-block;
    vertical-align:top;
    width:24em;
    height:30em;
    border-radius:10px 10px 10px 10px;
    border:solid 1px grey;
    background-color:#f3f3f3;
}
.sign_information-block-inside
{
    padding-top:0.5em;
    width:90%;
    margin:0 auto;
    //background-color:cyan;
}
.sign_information-block-title
{
    margin-bottom:0.7em;
}
.sign_html-block
{
    width:24em;
    height:30em;
    border-radius:10px 10px 10px 10px;
    border:solid 1px grey;
}
.sign_html-block-title
{
    margin-top:0.5em;
    padding-left:1.5em;
}
.sign_html-block-inside_container
{
    
    width:90%;
    height:35em;
    margin:0 auto;

}
.sign_html-block-inside
{
    resize: none;
    width:100%;
    height:50%;
    overflow:auto;
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4) inset;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4) inset;
    border:solid 1px grey;
    background-color:lavender;
}
.sign_html-instructions
{
    font-size:12px;
    color:grey;
    padding-left:1em;
    padding-top:0.5em;
    font-style: italic;
}
.sign_block-right
{
    display:inline-block;
    vertical-align:top;
    margin-left:1em;
}
.sign_signature-block
{
    margin: 0 auto;
    display:block;
    display:none;
    overflow:auto;
    margin-top:1em;
    width:40em;
    //border:solid 1px grey;
}
.sign_signature1
{
    
    padding:1em 1em 1em 1em;
}
.sign_select
{
    height:2em;
    width:20em;
    margin-bottom:1em;
    border-radius:10px 10px 10px 10px;
}
.inlineBlock
{
    display:inline-block;
    vertical-align:top;
}
.sign_background_obligatoire
{
    background-color:pink;
    border:solid 1px red !important;
}

.sign_download
{
    cursor:pointer;
    font-family: Arial, sans-serif;
    font-size:19px;
    font-weight:bold;
    background-color:#38b99a;
    height:2.2em;
    width:100%;
    border: solid 1px grey;
    border-top:solid 1px #9ecabf;
    border-bottom:solid 1px #0f7c61;
    border-radius:10px 10px 10px 10px;
    color:white;
    margin-top:1em;;
    transition: all 150ms ease-in-out;
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
    box-shadow:2px 2px 5px rgba(0,0,0,0.4);
    display:none;
}
.sign_download:hover
{
    
    border: none;
    background-color:#a4d8cb;
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4) inset;
    box-shadow:2px 2px 5px rgba(0,0,0,0.4) inset;
    text-shadow:1px 1px 2px rgba(0,0,0,0.8);
    
}