.error-500{
	border: solid 1px #C84F4D;
	border-radius: 4px;
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: #F2DEDE;
	color: #F55;
}

.warning{
	border: solid 1px #E1EC60;
	border-radius: 4px;
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: #F9FCD2;
	color: #555;
}

.access-refused{
	border: solid 1px #E1EC60;
	border-radius: 4px;
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: #F9FCD2;
	color: #555;
}