#file-upload{
	margin-top: 10px;
}

#file-upload .form-table{
	width: 80%;
	margin: 0px auto;
}

#file-upload .form-table .first-col{
	width: 30%;
  	padding: 2px 10px 2px 10px;
  	text-align: right;
}

#file-upload .form-table .sec-col{
	width: 70%;
  	padding: 2px 10px 2px 10px;
  	text-align: left;
}

#file-upload .form-table .sec-col select{
	float: none;
}

#file-upload .form-table .sec-col input[type="file"]{
	border: solid 1px #AAA;
	border-radius: 4px;
}

#file-upload .form-table .full-col{
	width: 100%;
  	padding: 2px 10px 2px 10px;
  	text-align: center;
}

#file-upload .processed-files{
	border: solid 1px #DDD;
  	margin-top: -1px;
  	padding: 5px 10px;
}

#file-upload .first-elm{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#file-upload .last-elm{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
} 

#file-upload .processed-files .success-icon{
	color: #37A327;
	margin-right: 10px;
}

#file-upload .processed-files .notice-icon{
	color: #333333;
	margin-right: 10px;
}

#file-upload .processed-files .error-icon{
	color: #EB2029;
	margin-right: 10px;
}

#file-upload .recap-files{
	border-bottom: solid 1px #999;
  	margin-top: 10px;
  	padding: 10px;
  	font-weight: bold;
}