{% set countBalns = user.balances|length %}
{% set countEvals = user.evaluations|length %}

{% if (countBalns > 0 and countEvals > 0) %}
	<header class="row">
		<nav class="btn-group" role="group">
			<div class="btn-group btn-group-first-item" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Bilans <span class="caret"></span></button>
				
				<ul class="dropdown-menu" role="menu">
					{% for balance in user.balances %}
						<li>
							{% if balance.status == true %}
								<a href="{{ path('dashgp_document', {'type':'balance', 'idx':loop.index0}) }}">
							{% else %}
							 	<a href="#" class="file not-found" data-toggle="modal" data-target="#error-modal">
							{% endif %}
								{{ balance.getYear }}
							</a>
						</li>
					{% else %}
						<li class="disabled">
							<a href="#">(Vide)</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Evaluations de performance <span class="caret"></span></button>
				
				<ul class="dropdown-menu" role="menu">
					{% for eval in user.evaluations %}
						<li>
							{% if eval.status == true %}
								<a href="{{ path('dashgp_document', {'type':'evaluation', 'idx':loop.index0}) }}">
							{% else %}
								<a href="#" class="file not-found" data-toggle="modal" data-target="#error-modal">
							{% endif %}
								{{ eval.getMission }}
							</a>
						</li>
					{% else %}
						<li class="disabled">
							<a href="#">(Vide)</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</header>
{% endif %}