{# src/DashGP/DashGPBundle/Resources/views/Dashboard/index.html.twig #}

{% extends "DashGPDashGPBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Index
{% endblock %}

{% block dgp_body %}
	{% include( "DashGPDashGPBundle:Dashboard:header.html.twig" ) %}
	<div class="row rowMarginTop">
		<div class="col-xs-6">
			{% if user.ProfileId != 'str' %}
				{{ include("DashGPDashGPBundle:Dashboard:Blocks/person.html.twig", {'heading': 'Mon manager', 'person': mgr}) }}
			{% endif %}

			{% if user.ProfileId != 'str' %}
				{{ include("DashGPDashGPBundle:Dashboard:Blocks/salary.html.twig") }}
            {% endif %}

            {% if (user.ProfileId != 'str') %}
				{{ include("DashGPDashGPBundle:Dashboard:Blocks/downloads.html.twig") }}
			{% endif %}
		</div>
		<div class="col-xs-6">
			{{ include("DashGPDashGPBundle:Dashboard:Blocks/person.html.twig", {'heading': (user.ProfileId == 'str') ? 'Mon ADV' : 'GP', 'person': gp}) }}
			{% if user.ProfileId == 'cslt' %}
				{% if missionToShow == 'yes' %}
					{{ include("DashGPDashGPBundle:Dashboard:Blocks/mission.html.twig") }}
				{% endif %}
				{# include("DashGPDashGPBundle:Dashboard:Blocks/fees.html.twig") #}
			{% endif %}

			{% if (user.ProfileId != 'str') %}
				{{ include("DashGPDashGPBundle:Dashboard:Blocks/links.html.twig") }}
			{% endif %}

			{# if (user.ProfileId in managers) or user.ProfileId == 'cslt' or user.ProfileId == 'str' #}
			{% if (user.ProfileId in managers) %}
				{{ include("DashGPDashGPBundle:Dashboard:Blocks/delays.html.twig") }}
			{% endif %}
		</div>
	</div>
	{{ include("DashGPDashGPBundle:Dashboard:Blocks/error_modal.html.twig") }}

{% endblock %}

{% block script %}
	{{ parent () }}
    {% javascripts
    	'@DashGPDashGPBundle/Resources/public/js/salary_chart.js'
		'@DashGPDashGPBundle/Resources/public/js/delays.js'
		'@DashGPDashGPBundle/Resources/public/js/payforms.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock script %}