{% extends "DashGPDashGPBundle::layout.html.twig" %}

{% block dgp_body %}
	<div id="file-upload" class="panel panel-primary">
		<div class="panel-heading"> Charger des fichiers </div>
		<div class="panel-body">
			<form method="post" action="" enctype="multipart/form-data">
				<table cellpadding=0 cellspacing=0 class="form-table">
					<tbody>
						<tr>
							<td colspan=2><strong>Notice :</strong> Choissisez les fiches de paie CEGID à télécharger (pour le mois/année correspondant). Si vous avez déjà soumis ces documents, ils seront reemplacées.</td>
						</tr>
						<tr>
							<td class="first-col">{{ form_label( form.datePay ) }}</td>
							<td class="sec-col">{{ form_widget( form.datePay ) }}</td>
						</tr>
						<tr>
							<td class="first-col">{{ form_label( form.files ) }}</td>
							<td class="sec-col">{{ form_widget( form.files ) }}</td>
						</tr>
						<tr class="full-col">
							<td colspan=2>{{ form_rest( form ) }}</td>
						</tr>
					</tbody>
				</table>
				<hr />
			</form>
			{% set totalMs = 1 %}
			{% for msg in messages %}
				<div class="processed-files {{ msg[0] }} {% if totalMs == 1 %}first-elm{% elseif totalMs == messages|length %}last-elm{% endif %}">
					{% set iconN = "fa-info-circle" %}
					{% if msg[0] == "error" %}
						{% set iconN = "fa-exclamation-circle" %}
					{% elseif msg[0] == "success" %}
						{% set iconN = "fa-check-circle" %}
					{% endif %}
					<i class="fa {{ iconN }} {{ msg[0] }}-icon"></i>{{ msg[1] }}
				</div>
				{% set totalMs = totalMs+1 %}
			{% endfor %}
			<div class="recap-files">
				{{ recap }}
			</div>
			{% for message in app.session.flashbag.get('upload') %}
				<div class="alert alert-success selected-files" role="alert">
					<i class="fa fa-info-circle"></i>{{ message }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}