{% extends "DashGPDashGPBundle::layout.html.twig" %}

{% block title %}
	Erreur Davidson
{% endblock %}

{% block signature_body %}
	<div class="access-refused">
		Vous n'avez pas d'accès à cette application. Merci de contacter <a href="mailto:support@davidson.fr" />support@davidson.fr</a> pour toute information complementaire.
	</div>
{% endblock %}