{% extends "DashGPDashGPBundle::layout.html.twig" %}

{% block title %}
	Erreur Davidson
{% endblock %}

{% block signature_body %}
	<div class="error-500">
		Profil incomplet. Merci de contacter de votre manager pour une mise à jour de votre compte.
	</div>
{% endblock %}