{% extends "DashGPDashGPBundle::layout.html.twig" %}

{% block title %}
	Erreur Davidson
{% endblock %}

{% block signature_body %}
	<div class="warning">
		Profil non conforme. Merci de contacter l'équipe support informatique.
	</div>
{% endblock %}