{# src/DashGP/DashGPBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		
		{% block dgp_body %}
		{% endblock %}
                
        {% block signature_body %}
		{% endblock %}

		{% block error_body %}
		{% endblock %}
	
	</div>
{% endblock %}

{% block script %}
    {{ parent () }}
    {% javascripts
        '@DashGPDashGPBundle/Resources/public/js/upload.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock script %}