{% extends "DashGPDashGPBundle::layout.html.twig" %}

{% block title %}
	Signature Email Davidson
{% endblock %}

{% block signature_body %}
<div class="sign_body">

    <div class="sign_instructions">
        Afin de générer votre signature, merci de vérifier vos informations et de compléter les champs manquants.<br>
        Tous les champs marqués d'une * sont obligatoires, ainsi qu'au minimum un numéro de téléphone.<br>
        Une fois votre signature générée, vous pouvez copier-coller l'intégralité du code HTML dans votre client e-mail<br>
        ou bien télécharger le fichier html pour l'importer ensuite.<br><br>
        Par exemple, pour les utilisateurs d'Outlook, il vous suffit de copier le fichier téléchargé dans C:\Users\"username"\AppData\Roaming\Microsoft\Signatures\<br>
        (N'oubliez pas de changer "username" par votre propre username !)<br>
        Quand vous retournez dans les options d’Outlook vous devriez retrouver votre nouvelle signature "davidson_2015".
        
        
    </div>
    <div class="sign_information-block">
        {% include "DashGPDashGPBundle:Signature/Blocks:form.html.twig" %}
    </div>
    <div class="sign_block-right">
        <div class="sign_html-block">
            {% include "DashGPDashGPBundle:Signature/Blocks:resultHtml.html.twig" %}
        </diV>

    </div>
    <div id="signature1" class="sign_signature-block">
        {% include "DashGPDashGPBundle:Signature/Blocks:reference1.html.twig" %}
    </div>
    <div id="signature2" class="sign_signature-block">
        {% include "DashGPDashGPBundle:Signature/Blocks:reference2.html.twig" %}
    </div>

</div>
        
{% endblock %}

{% block script %}
    {{ parent () }}
    {% javascripts
        '@DashGPDashGPBundle/Resources/public/js/signature.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock script %}