#file-upload{
	margin-top: 10px;
}

#file-upload .form-table{
	width: 80%;
	margin: 0px auto;
}

#file-upload .form-table .first-col{
	width: 30%;
  	padding: 2px 10px 2px 10px;
  	text-align: right;
}

#file-upload .form-table .sec-col{
	width: 70%;
  	padding: 2px 10px 2px 10px;
  	text-align: left;
}

#file-upload .form-table .sec-col select{
	float: none;
}

#file-upload .form-table .sec-col input[type="file"]{
	border: solid 1px #AAA;
	border-radius: 4px;
}

#file-upload .form-table .full-col{
	width: 100%;
  	padding: 2px 10px 2px 10px;
  	text-align: center;
}